

.footer {
    background-color: #fff;
    width: 100%;
    max-width: 1366px;
    display: flex;
    height: 200px;
    margin:auto;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        color: #818181;
        position: absolute;
        bottom: 2rem;
    }
}