

.home {
  display: block;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1366px;

  .title {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    span {
      color: #37d5b7;
    }
  }

  // styles slider main
  .slider {
    &__item {
      display: inline-flex !important;

      &__text {
        width: 30%;
        display: flow-root;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-left: 3rem;

        h2 {
          font-size: 42px;
          text-align: left;
        }

        p {
          color: #899096;
          text-align: left;
          font-size: 13px;
          line-height: 23px;
        }
        button {
          width: 50%;
          height: 50px;
          display: block;
          left: 0;
          background: #36d3b5;
          color: #fff;
          border-radius: 50px;
          border: none;
          border: 2px solid #fff;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          outline: none;
          &:hover {
            border: 2px solid #36d3b5;
            background: #fff;
            color: #36d3b5;
          }
        }
      }

      &__image {
        width: 80%;
        display: flex;
        position: relative;
        justify-content: center;
        img {
          width: 650px;
        }
      }
    }
  }

  // styles features container
  .features {
    background: #f6f6f6;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;

    &__title {
      font-size: 36px;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      &__card {
        width: 24%;
        background: white;
        padding: 1rem;
        margin: 1rem;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.02);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.02);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.02);
        cursor: pointer;
        &:hover {
            transform: scale(1.03);

        }
        img {
          width: 45px;
          display: flex;
          padding-left: 2rem;
        }
        .texts {
          width: 80%;
          margin: 0 auto;
        }
        .titleCard {
          font-weight: 600;
          text-align: left;
          font-size: 18px;
        }
        .textCard {
          color: #999999;
          text-align: left;
          line-height: 20px;
        }

        .linkCard {
          color: #38dbc1;
          width: 120px;
          font-size: 20px;
          font-weight: 600;
          text-decoration: none;
          text-align: left;
          display: block;
          border-bottom: 1px solid #fff;
          transition: all 0.2s ease-in-out;
          &:hover {
            border-bottom: 1px solid #36d3b5;
          }
        }
      }
    }
  }

  // styles prototypes container
  .prototypes {
      display: flex;
      &__image {
          width: 60%;
          img {
              width: 700px;
          }
      }

      &__text {
          width: 40%;
          align-items: center;
          margin:auto;
          padding-right: 3rem;
          &__title {
              font-size: 36px;
              font-weight: 700;
              margin:0;
          }
          &__label {
              color: #888888;
              font-size: 16px;
              line-height:32px;
          }
          &__li {
            color: #888888;
            font-size: 16px;
            line-height:32px;
            list-style: none;
            &::before {
                content: '\2713';
                color: #8dc748;
                margin-right: 1rem;
            }
          }
          &__card {
              width: 80%;
              padding: 1rem;
              margin-top: 1rem;
              -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
              -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
              .dataCard {
                  display: flex;
                  img {
                      width: 80px;
                      height: 80px;
                      border-radius: 100%;
                      margin-right: 1rem;
                  }
                  .nameCard {
                      font-weight: 700;
                  }
                  .companyCard {
                      font-weight: 300;
                  }
                }
                .labelCard {
                    font-style: oblique;
                    color: #9b9b9b;
                }
          }
      }
  }

  // styles aboutUs
  .aboutUs {
      background: #f6f6f6;
      text-align: center;
      padding-top: 7rem;
      padding-bottom: 3rem;
      display: flex;
      position: relative;
      &__title {
          position: absolute;
          left: 0;
          right: 0;
          top: 2rem;
          font-size: 36px;
          margin: 0;
      }
      &__image {
          display: flex;
          width: 60%;
          img {
              width: 500px;
              margin: auto;
              border-radius: 8px;
              -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
          }
      }

      &__text {
          width: 40%;
          align-items: center;
          margin: auto;
          padding-right: 3rem;
          h2 {
              font-size: 36px;
              font-weight: 400;
              text-align: left;
          }
          p {
              color: #8a8a8a;
              text-align: left;
              line-height: 36px;
          }
          button {
              width: 165px;
              height: 50px;
              color: #fff;
              background: #36d3b5;
              left: 0;
              display: block;
              border-radius: 50px;
              border: 2px solid #fff;
              transition: all .3s ease-in-out;
              cursor: pointer;
              outline: none;
              &:hover {
                  border: 2px solid #36d3b5;
                  background: #fff;
                  color: #36d3b5;
              }

          }
      }
  }

  // styles testimonials
  .testimonials {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 3rem;
      
      &__slide {
          width: 100%;
          margin: 0 auto;

          &__item {
              width: 70%;
              margin: 0 auto;

              img {
                  width: 100px;
                  border-radius: 100%;
                  box-shadow: 0px 0px 10px 0px #000000;

              }
          }
      }
      h2 {
          font-size: 36px;
          font-weight: 700;
      }
      p {
        color: #888888;
        line-height: 35px;
        width: 57%;
        text-align: center;
        margin: 0 auto;
        justify-content: end;
        padding-top: 2rem;
        font-style: italic;
      }

      p#name {
          color: #000;
          font-style: normal;
          font-weight: 500;
      }


  }

  // styles contact form
  .contact {
      background: #f6f6f6;
      padding: 3rem;
      text-align: center;
      margin:  auto;
      h2 {
          font-size: 36px;
          font-weight: 700;
      }

      .form {
          display: flex;
          width: 50%;
          margin: 0 auto;
          background: #fff;
          padding: 3rem;
          flex-direction: column;
          border-radius: 10px;
          &::before {
              content: 'Contact Form';
              font-size: 30px;
              position: absolute;
          }
          .doubleInput {
              width: 100%;
              display: flex;
          }
          .double {
            display: flex;
            margin: 4rem auto;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            margin-bottom: 1rem;
            label {
                text-align: left;
                color: #3c3c3c;
                font-size: 18px;
                margin: 1rem 0;
            }
            input {
                width: 90%;
                height: 50px;
                border: 1px solid #e8eaed;
                outline: none;
                font-size: 19px;
                color: #858a91;
                text-align: center;
            }
          }

          .single {
              display: inline-grid;
            label {
                text-align: left;
                color: #3c3c3c;
                font-size: 18px;
                margin: 1rem 0;
            }
            input {
                width: 90%;
                height: 50px;
                border: 1px solid #e8eaed;
                outline: none;
                font-size: 19px;
                color: #858a91;
                text-align: center;
            }
            textarea {
                font-family: "Montserrat", sans-serif;
                width: 90%;
                height: 50px;
                border: 1px solid #e8eaed;
                outline: none;
                font-size: 16px;
                color: #858a91;
                text-align: left;
                padding-left: 1rem;
                padding-top: 1rem; 
            }
          }
      }
  }
  // Styles tiny slider
  .tns-outer {
    display: flex;
    position: relative;

    & button[data-action="stop"],
    & button[data-action="start"] {
      display: none;
      font-size: 0;
    }
    .tns-controls {
      position: absolute;
      width: 100%;
      z-index: 2;
      bottom: 60%;
      & [data-controls="next"] {
        position: absolute;
        right: 1rem;
        outline: 0;
        width: 55px;
        height: 55px;
        font-size: 0px;
        z-index: 99;
        border-radius: 50%;
        background-color: transparent;
        color: #1d1d1d;
        margin-top: 2rem;
        transition: all 0.3s ease-in-out;
        border: 1px solid #36d3b5;

        &:hover {
          filter: brightness(1.1);
        }
      }
      & [data-controls="prev"] {
        position: absolute;
        left: 1rem;
        outline: 0;
        width: 55px;
        height: 55px;
        font-size: 0;
        z-index: 99;
        border-radius: 50%;
        background-color: transparent;
        color: #1d1d1d;
        top: 50%;
        transform: scaleX(1);
        margin-top: 2rem;
        transition: all 0.3s ease-in-out;
        border: 1px solid #36d3b5;
        &:hover {
          filter: brightness(1.1);
        }
      }
      & [data-controls="prev"]::before {
        content: "<";
        font-family: "Poppins";
        font-size: 35px;
        color: #36d3b5;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
      }
      & [data-controls="next"]::before {
        content: ">";
        font-family: "Poppins";
        font-size: 35px;
        color: #36d3b5;
        font-weight: 700;
      }
    }
    .tns-nav {
      width: 100%;
      height: 25px;
      margin: 0 auto;
      position: absolute;
      bottom: 1rem;
      align-items: center;
      vertical-align: middle;
      text-align: center;
      z-index: 2;
      @media (max-width: 600px) {
        bottom: -2.5rem;
      }
      button {
        width: 50px;
        height: 3px;
        background-color: #36d3b5;
        transition: all 0.3s ease-in-out;
        outline: none;
        margin: 0 1rem;
        border: 1px solid #36d3b5;

        @media (max-width: 600px) {
          width: 42px;
        }
      }
      button.tns-nav-active {
        width: 50px;
        height: 3px;
        border-radius: 100px;
        background-color: #f2af42;
        transition: all 0.3s ease-in-out;
        outline: none;
        border: 1px solid #f2af42;
        @media (max-width: 600px) {
          width: 42px;
          height: 3px;
        }
      }
    }
  }
  .testimonials  {
    .tns-controls {
        display: none;
    }
    .tns-nav {
        bottom: -2rem;
        button {
          width: 15px;
          height: 15px ;
          border-radius: 100%;
          background-color: #dee2e6;
          border: 1px solid #dee2e6;

        }
        button.tns-nav-active {
          width: 15px;
          height: 15px;
          border-radius: 100px;
          background-color: #36d3b5;
          border: 1px solid #36d3b5;
        }
    }
  }

  // mobile Styles
  @media only screen and (max-width: 600px) {

   
    .title {
      padding-left: 1rem;
      text-align: left;
      font-weight: 500;
    }

    .slider__item {
      display: flex;
      flex-direction: column;

      &__text {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
        padding:0;
        order: 2;
        h2 {
          padding: 2rem;
          margin: 0;
        }
        p {
          width: 90%;
          margin: 0 auto;
        }
        button {
          margin-left: 2rem;
        }
      }
      &__image {
        width: 100%;
        order: 1;
        img {
          width: 100%;
        }
      }
    }

    .features__wrapper__card {
     width: 100%;
   }

   .prototypes {
     flex-direction: column;
     padding-top: 2rem;
     &__image {
       width: 100%;
       order: 2;
       img {
         width: 100%;
       }
     }
     &__text {
       width: 100%;

       &__title, &__label, &__li {
          text-align: center;
          margin: 0 auto; 
       }
       &__card {
         width: 80%;
         margin: 0 auto;
       }
     }
   }

   .aboutUs {
     flex-direction: column;
     &__image {
       width: 100%;
       img {
         width: 80%;
       }
     }
     &__text {
       width: 100%;
       padding:0;
       &__card {
         width: 90%;
         margin:0 auto;
       }
     }
   }

   .testimonials {
     padding:0;
    #description {
      width: 90%;

    }
     .tns-nav {
       flex-wrap: wrap;
       button {
         margin: 4px;
       }
     }
   }

   .contact {
     margin: 3rem auto;
     width: 100%;
     text-align: center;
     padding:0;
     .form {
       width: 90%;
       margin: 0 auto;
       padding:2rem;
     }
   }

  .tns-controls {
    display: none;
  }
   
  }
}
