
.header {
  display: block;
  margin-bottom: 1rem;
  margin-top: 0rem;
  border-bottom: 3px solid #f9f9f9;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 99;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  width: 100%;
  max-width: 1366px;

  &__list {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    &__item {
      display: block;
      cursor: pointer;
      .link {
        display: flex;
        color: #242425;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        z-index: 10;
        border-bottom: 1px solid white;
        &:hover {
          color: #37d5b7;
          border-bottom: 1px solid #37d5b7;
        }
      }
      .last {
        color: #37d5b7;
      }
    }
  }
}
.menu-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    width: 100vw;
  }
  .nav {
    display: flex;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    height: 0;
    display: flex !important;
    width: 130vw;
    height: 130vh;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: all .3s ease-in-out;
    .nav__list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      line-height: 70px;
      background: #fff;
      &__item a {
        border: none;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }

  .nav.active {
    display: flex !important;
    width: 130vw;
    height: 130vh;
    position: absolute;
    top: 0;
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    .nav__list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      line-height: 70px;
      background: #fff;
      &__item a {
        border: none;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
  .menu-btn {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 99;
    margin-right: 1rem;

    &__burger {
      width: 40px;
      height: 5px;
      background: #1c1c1c;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255,107,47,.2);
      transition: all .5s ease-in-out;
      &::after, &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        background: #1c1c1c;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,107,47,.2);
        transition: all .5s ease-in-out;
      }

      &::before {
        transform: translateY(-16px);
      }
      &::after {
        transform: translateY(16px);
      }
    }

  }

  /* Animation burguer */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  } 
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}