.header {
  display: block;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-bottom: 3px solid #f9f9f9 ;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  width: 100%;
  max-width: 1366px;

  &__list {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    &__item {
      display: block;
      cursor: pointer;
      .link {
        display: flex;
        color: #242425;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        z-index: 10;
        border-bottom: 1px solid white;
        &:hover {
          color: #37d5b7;
          border-bottom: 1px solid #37d5b7;
        }
      }
      .last {
        color: #37d5b7;
      }
    }
  }
}
